html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: inherit;
}

h2, h4, p {
  margin: 0;
}

@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}
